.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.home__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.MuiSvgIcon-root.apps__icon {
  color: gray;
}
.home__header a {
  text-decoration: none;
  margin-right: 20px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 0.95rem;
}
.home__header a:hover {
  text-decoration: underline;
}
.header__right {
  display: flex;
  align-items: center;
  min-width: 13vh;
}
.header__right > .MuiSvgIcon-root {
  margin-right: 20px;
}
.home__body {
  flex: 1;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__body > img {
  width: 270px;
  object-fit: contain;
}
